// define color and style
// Define your color variables
$button-color: #4a90e2; // Example blue color
$button-hover-color: darken($button-color, 10%);
$button-focus-color: lighten($button-color, 10%);
$text-color: #fff;
$border-radius: 5px;
$transition-duration: 0.3s;

// Mixin for common button styling
@mixin button-style {
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  transition: background-color $transition-duration, color $transition-duration;
  border-radius: $border-radius;
  color: $text-color;
  background-color: $button-color;
  text-decoration: none; // For link buttons
  margin: 10px;

  &:hover, &:focus {
    background-color: $button-hover-color;
    color: $text-color;
  }

  &:focus {
    background-color: $button-focus-color;
    outline: none; // Removes the default focus outline
  }
}



.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;

  .btn {
    @include button-style;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// .list-item {
//   background-color: #f9f9f9; // Light background for the box
//   border: 1px solid #ddd; // Border for the box
//   border-radius: 8px; // Rounded corners for the box
//   padding: 15px; // Padding inside the box
//   margin-bottom: 10px; // Space between each box
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   &:last-child {
//     margin-bottom: 0; // Remove bottom margin for the last item
//   }

//   .title {
//     font-weight: bold;
//   }

//   .translation {
//     font-style: italic;
//     color: #666;
//   }
//   .category-image {
//     max-width: 100%; /* Ensures the image is not wider than its container */
//     height: auto; /* Maintains the aspect ratio of the image */
//     object-fit: cover; /* Ensures the image covers the area, might crop if necessary */
//     border-radius: 5px; /* Optional: Adds rounded corners to the image */
//   }
  
// }
.list-item {
  background-color: #EEF5FF; // Light background for the box
  border: 1px solid #ddd; // Border for the box
  border-radius: 8px; // Rounded corners for the box
  padding: 15px; // Padding inside the box
  margin-bottom: 10px; // Space between each box
  display: flex;
  flex-direction: column; // Stack children vertically
  align-items: center; // Center items horizontally

  &:last-child {
    margin-bottom: 0; // Remove bottom margin for the last item
  }

  .title, .translation, .pronunciation {
    margin-top: 10px; // Add space between elements
  }

  .category-image {
    max-width: 100%; // Ensures the image is not wider than its container
    height: auto; // Maintains the aspect ratio of the image
    object-fit: cover; // Ensures the image covers the area, might crop if necessary
    border-radius: 5px; // Optional: Adds rounded corners to the image
    max-height: 200px; // Limit the height of the image
  }
}


