.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between; // This spreads out the logo and the nav links
  align-items: center; // Vertically aligns items in the navigation bar
  background-color: #f1e4c3; // Optional: background color for the navbar
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: adds a subtle shadow for depth
  position: fixed; // Makes the navbar fixed at the top
  top: 0;
  left: 0;
  z-index: 1000; // Ensures the navbar stays above other content

  // .logo-container {
  //     height: 100%;
  //     width: 70px; // Adjust as needed
  //     padding: 25px; // Adjust as needed
  //     // Add logo styling here
  // }

  .nav-links-container {
    width: auto; // Changed to auto to only use the necessary space
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; // Aligns the links to the right

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none; // Removes underline from links
      color: #333; // Color for the text
      font-weight: bold; // Optional: makes the text bold
      &:hover {
        color: #0275d8; // Color change on hover
      }
    }
  }
}
