.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.button-container {
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .authentication-container {
    flex-direction: column;
    align-items: center;
  }
  .sign-in-container,
  .sign-up-container {
    max-width: 500px;
    padding: 10px;
  }
}
