// body {
//   margin: 0;
//   padding: 20px 40px;
//   font-family: "Open Sans", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

// a {
//   text-decoration: none;
//   color: black;
// }

// * {
//   box-sizing: border-box;
// }

body {
  margin: 0;
  // font-family: "Open Sans", sans-serif;
  font-family: 'Sometype Mono', monospace;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f8ff; /* Beautiful gradient background */
  color: rgb(16, 15, 15); /* Ensuring text is readable on a darker background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #607274; /* Slight background for code blocks for readability */
  padding: 2px 4px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  //color: #ffdf00; /* A bright color for links to stand out */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
  color: #4f6f52; /* Slightly darker color on hover */
}

* {
  box-sizing: border-box;
}

#root {
  margin-top: 70px;
}
